<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>    
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="todo">
            <div class="header">
                <h1>TODO App</h1>
            </div>
            <form action="/submit_todo_tasks" method="POST">
                <div class="form-group col-xs-12">
                    <label for = "description">
                        DESCRIPTION
                    </label><br>
                    <input type="text" id = "description" name = "description" class="form-control" placeholder="What do you need to do?">
                </div>
                <div class="container-fluid border0">
                    <div class="row form-group">
                        <div class="border0 inlineblock mgl">
                            <label for = "category">CATEGORY</label><br>
                            <select id = "category">
                                <option>Choose a category</option>
                                <option value="first">First</option>
                            </select>
                        </div>
                        <div class="border0 inlineblock">
                            <label for = "due-date">DUE DATE</label><br>
                            <input type="date" id = "due-date" name = "due-date" class="gc" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                </div>
                <div class="mgl2">
                    <span class="center1">
                        <button class="btn1">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;
                            ADD TASK
                        </button>
                    </span>
                    <span>
                        <button class="btn2">
                            <i class="fa fa-trash-o"></i>&nbsp;&nbsp;
                            DELETE TASKS
                        </button>
                    </span>
                </div>
            </form>
            <div class="container-fluid checkmlr checkmlrb">
                <table>
                    <tr>
                        <td rowspan="2">
                            <input class="form-check-input checkbox-lg" type="checkbox" value="description" id="description" >
                        </td>
                        <td><label class="form-check-label" for="description">
                            Why not add a task?
                          </label></td>
                          <td rowspan="2">
                              <p class="btn3 C1">category</p>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <p>
                                <i class="fa fa-calendar"></i>&nbsp;
                                May 2, 2019</p>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <input class="form-check-input checkbox-lg" type="checkbox" value="description" id="description" >
                        </td>
                        <td><label class="form-check-label" for="description">
                            Let's make a TODO App
                          </label></td>
                          <td rowspan="2">
                              <p class="btn3 C1">SCHOOL</p>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <p>
                                <i class="fa fa-calendar"></i>&nbsp;
                                April 28, 2019</p>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <input class="form-check-input checkbox-lg" type="checkbox" value="description" id="description" >
                        </td>
                        <td><label class="form-check-label" for="description">
                            Annual report submission deadline
                          </label></td>
                          <td rowspan="2">
                              <p class="btn3 C2">WORK</p>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <p>
                                <i class="fa fa-calendar"></i>&nbsp;
                                Jun 1, 2019</p>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <input class="form-check-input checkbox-lg" type="checkbox" value="description" id="description" >
                        </td>
                        <td><label class="form-check-label" for="description">
                            Annual report submission deadline
                          </label></td>
                          <td rowspan="2">
                              <p class="btn3 C2">WORK</p>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <p>
                                <i class="fa fa-calendar"></i>&nbsp;
                                Jun 1, 2019</p>
                            </span>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </body>
</html>